{% extends 'ShopBundle:Default:index.html.twig' %}

{% block content %}
    <div class="productDetails">
        
        <!-- здесь можно сделать ссылку с урлом на категорию, но так как мы не используем реляционную БД это породит еще один кусок бесполезного кода -->
        <p><br><a href="javascript:window.history.go(-1)"><<< Back</a></p>
        
        <div class="image" style="background-image: url(/images/products/{{ item.id }}.jpg)"></div>
        <h1>{{ item.title }}</h1>
        <p>{{ item.description }}</p>
        
        <div class="rating pull-right">
            {{ item.rating|stars("<i class='fa fa-star' aria-hidden='true'></i>", "<i class='fa fa-star-o' aria-hidden='true'></i>")|raw }}
        </div>
        
        <div class="price">$ {{ item.price | number_format(2) }}</div>
        
        <a class="btn btn-primary" onclick="alert('Buy feature is comming soon...')">BUY</a>
        
        <h3>Reviews</h3>
        {% if item.comments is defined %} 
            {%for comment in item.comments %}
            <div class="comment panel panel-default">
                <div class="panel-body">
                    {{ comment }}
                </div>
            </div>
            {% endfor %}
        {% else %}
            <i>No reviews yet :(</i>
            
        {% endif %}
    </div>
{% endblock %}